* {
  font-family: 'Poiret One', cursive;
  color: white;
}

img {
  /*width: 100%;*/
}

body {

}

header {

}

footer {
  background-color: #F5811F;
}

h1 {
  font-family: 'Poiret One', cursive;
  padding-left: 3em;
}

h2 {

}
p {

}

main {
  padding-top: 12vh;
  background-color: #008D97;
}
