img {
  width: 100%;
}

header {
  position: fixed;
  width: 100%;
  background-color: #efefef;
  z-index: 10;

}

footer {

}

h1 {
  font-family: 'Poiret One', cursive;
  padding-left: 3em;
}

p {

}
