.main-nav ul {
  display: none;
  list-style: none;
}

.fixed-header {
  position: fixed;
  width: 100%;
  background-color: #efefef;
  z-index: 10;
}

.float-left {
  float:left;
  width: 50%
}

.float-right {
  float:right;
  width: 50%;
}

.main-nav ul li {
  display: inline-block;
  padding-top: 1em;
  border-bottom: 1px solid #ccc;
}

.template {
  display: none;
}

.byline {

}

.article-body {

}

#icon-menu {
  float: right;
  display: block;
  font-size: 7vw;
}

#carousel {
  position:relative;
  margin-top: 0vh;
  overflow: hidden;
  
}

#articles {
  text-align: center;
}

.clearfix {
  clear: both;
}



@media only screen and (min-width: 640px){
  #icon-menu {
    display: none;
    padding: 1em;
  }

  .main-nav ul {
    display: flex;
    justify-content: space-around;
  }

  .main-nav:hover ul {
    display: flex;
  }

}
